ion-content{
  color: white;
  font-family: "Montserrat", sans-serif;
  --background: black url('https://i.pinimg.com/564x/71/c5/ff/71c5ff5dcaa75f69d1b62109402c153a.jpg') repeat center center / contain;
}

.background-filter{
  //height: 100%;
  //width: 100%;
  //background: rgba(219,0,0, 0.3);
  align-items: center;
  display: flex;
  flex-direction: column;
}

ion-card{
  background: #000000;
  border: 5px solid #db0000;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  margin-top: 130px;
  color: white;
  padding: 50px 50px 20px 50px;

  ion-card-title{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(255,0,0,0.7);
  }
}

ion-card-content{
  margin-top: 10px;

  .wrapform{
    margin-top: 10px;
  }
  .error_message{
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
  }

  ion-item{
    --ion-item-background: trasparent;
    --border-width: 0;
    --inner-border-width: 0;
    --highlight-color-focus: none;
    margin-bottom: 15px;

    ion-input{
      color: #fff;
      height: 50px;
      width: 100px;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #fff;
      font-size: 14px;
      --padding-start: 10px;
    }
  }

  .sign-btn-wrap{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }

 /* .facebookbtn{
    margin-top: 15px;
    text-align: center;
    --background: #282828;
  }

  .googlebtn{
    margin-top: 15px;
    text-align: center;
    --background: #282828;
  }*/

  ion-icon{
    color: white;
  }


  ion-button{
    height: 40px;
    width: 140px;
    align-items: center;
    --background: #db0000;
  }

  span{
    margin-top: 20px;
  }

  .registrati_p{
    margin-top: 50px;
  }

  .registrazione_link{
    color: #db0000;
    cursor: pointer;
  }
}
