ion-content{
  --ion-background-color: #000000;
  font-family: "Montserrat", sans-serif;


  .primo{
    background-color: #282828;
    margin: 10px auto;
    height: 220px;
    width: 270px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #fff;


    .card-title{
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }

    img{
      height: 180px;
      width: 270px;
    }
  }

  .secondo {
    background-color: #282828;
    margin: 20px auto 20px;
    height: 200px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #fff;

    .card-title{
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }

    img{
      height: 160px;
      width: 200px;
    }
  }

}


