<ion-header>

  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>MoviesToWatch</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card class="primo">
    <img src="../../assets/image/questionario.png"/>
    <div class="card-title">Questionario</div>
  </ion-card>

  <ion-card class="primo">
    <img src="../../assets/image/best.png"/>
    <div class="card-title">Top rated</div>
  </ion-card>

</ion-content>



<ion-tab-bar slot="bottom">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>


