ion-content{

}

.background-pic{
  height: 100vh;
  width: 100px;
  background: url("");
}

ion-card{
  margin-top: 130px;
  background: transparent;
  box-shadow: none;
  text-align: center;

  ion-card-title{
    color: #0d0d0d;
    font-size: 30px;

  }
}
