<ion-header class="head">

  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>Questionario</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>


    <ion-grid class="grid-questionario">
      <ion-row>
        <ion-col size="3" size-sm="3">
        </ion-col>

        <ion-col size="6" size-sm="6" class="col-centro">
          <table class="table_questionario">
            <tr>
              <td>
                <div class="div_questionario">
                  <div class="div_domanda" id="div_domanda">
                    <button id="btn_start" onclick="QuestionarioStart()"> Inizia! </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <div  class="question-actions_actions" id="question-actions_actions" hidden>
                <td class="td_bottoni">
                  <button id="btn_answer_no" onclick="ClickNo()" value="No"> No!</button>
                </td>
                <td class="td_bottoni">
                  <button id="btn_answer_skip" onclick="ClickSkip()" value="skip"> Non so</button>
                </td>
                <td class="td_bottoni">
                  <button id="btn_answer_yes" onclick="ClickSi()" value="Si"> Si!</button>
                </td>
              </div>
            </tr>
          </table>














        <!--
            <ion-row class="row-border">
              <ion-grid>
                <ion-row>
                  <h3>Genere</h3>
                </ion-row>
              </ion-grid>

              <ion-list class="list-generi">
                <ion-grid class="grid-generi">
                  <ion-row>
                    <ion-col>
                      <ion-item>
                         <ion-label>Animazione</ion-label>
                         <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Avventura</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Azione</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Biografico</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Commedia</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Documentario</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                    </ion-col>

                    <ion-col>
                      <ion-item>
                        <ion-label>Drammatico</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Romantico</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Family</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fantascienza</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fantasy</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Guerra</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                    </ion-col>

                    <ion-col>
                      <ion-item>
                        <ion-label>Musical</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Storico</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Thriller</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Horror</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Western</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                      <ion-item>
                        <ion-label>Poliziesco</ion-label>
                        <ion-toggle></ion-toggle>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-row>

          <ion-row class="row-border">
            <h3>Anno di produzione</h3>
            <ion-select name="ordineanno" id="ordineanno" placeholder="Seleziona" >
              <ion-select-option value="minore">Minore di</ion-select-option>
              <ion-select-option value="minoreuguale">Minore o uguale a</ion-select-option>
              <ion-select-option value="uguale">Uguale a</ion-select-option>
              <ion-select-option value="maggiore">Maggiore di</ion-select-option>
              <ion-select-option value="maggioreuguale">Maggiore o uguale a</ion-select-option>
            </ion-select>
            <ion-item>
              <ion-label>Seleziona l'anno</ion-label>
              <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [yearValues]=""></ion-datetime>
            </ion-item>
          </ion-row>

          <ion-row class="row-border">
            <h3>Nazionalità</h3>
            <ion-select name="nazione" id="nazione" multiple="true" placeholder="Seleziona">
              <ion-select-option value="USA">USA</ion-select-option>
              <ion-select-option value="Italia">Italia</ion-select-option>
              <ion-select-option value="Canada">Canada</ion-select-option>
              <ion-select-option value="Francia">Francia</ion-select-option>
              <ion-select-option value="Germania">Germania</ion-select-option>
              <ion-select-option value="Spagna">Spagna</ion-select-option>
              <ion-select-option value="Portogallo">Portogallo</ion-select-option>
              <ion-select-option value="GranBretagna">Gran Bretagna</ion-select-option>
              <ion-select-option value="Grecia">Grecia</ion-select-option>
              <ion-select-option value="Turchia">Turchia</ion-select-option>
              <ion-select-option value="India">India</ion-select-option>
              <ion-select-option value="Australia">Australia</ion-select-option>
              <ion-select-option value="Russia">Russia</ion-select-option>
              <ion-select-option value="Cina">Cina</ion-select-option>
              <ion-select-option value="Giappone">Giappone</ion-select-option>
              <ion-select-option value="Corea">Corea del sud</ion-select-option>
              <ion-select-option value="Argentina">Argentina</ion-select-option>
            </ion-select>
          </ion-row>

          <ion-row class="row-border">
            <h3>Rating</h3>
            <ion-select name="ordinerating" id="ordinerating" placeholder="Seleziona">
              <ion-select-option value="uno">1/10</ion-select-option>
              <ion-select-option value="due">2/10</ion-select-option>
              <ion-select-option value="tre">3/10</ion-select-option>
              <ion-select-option value="quattro">4/10</ion-select-option>
              <ion-select-option value="cinque">5/10</ion-select-option>
              <ion-select-option value="sei">6/10</ion-select-option>
              <ion-select-option value="sette">7/10</ion-select-option>
              <ion-select-option value="otto">8/10</ion-select-option>
              <ion-select-option value="nove">9/10</ion-select-option>
              <ion-select-option value="dieci">10/10</ion-select-option>
            </ion-select>

          </ion-row>

          <ion-row>
            <ion-button class="bottone_consiglio" value="block">
              <ion-label>Consigliami</ion-label>
            </ion-button>
          </ion-row>
        -->
        </ion-col>

        <ion-col size="3" size-sm="3">

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>



<ion-tab-bar slot="bottom" class="bottom_menu">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>
