ion-content{
  --ion-background-color: #000000;
  font-family: "Montserrat", sans-serif;

  h3{
    font-weight: bold;
  }

  .grid-questionario{
    color: white;

    .row-border{
      padding: 15px 0px 15px 0px ;
      border-bottom: 2px solid #282828;
    }

    ion-item{
      color: white;
      --background: #282828;

      ion-toggle{
        --background-checked: #db0000;
        --handle-background-checked: #db0000;
      }
    }
    .list-generi{
      background-color: #282828;
    }

  }
/*
  ion-select{
    color: white;
  }
  //* Set the placeholder color and opacity /  RICORCA DI CHIUDER IL COMMENTO SE USATO
  ion-select::part(placeholder) {
    color: white;
    opacity: 0.6;
  }
  /* Set the icon color and opacity /          RICORCA DI CHIUDER IL COMMENTO SE USATO
  ion-select::part(icon) {
    color: #db0000;
    opacity: 1;
  }

  .bottone_consiglio{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    --background: #db0000;

  }
  .bottone_consiglio:hover{
    --background: #D10101;
  }
*/
}

//css per l'uso del div con la domanda
  .table_questionario{
    width: 100%;
    height: 100%;
    tr{
      width: 100%;
    }
  }

  .div_questionario{
    margin: auto;
    width: 65%;
    height: 500px;
    background: #282828;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }

  .div_domanda{
    position: absolute;
    top: 40%;
    border: 5px solid #FFFF00;
    //justify-content: center;
    margin: auto;
    width: 65%;
    text-align: center;
    //height: 100%;
    color: white;
    font-size: 30px;
  }

  .question-actions_actions{
    display: flex;
    margin: auto;
    width: 65%;
    justify-content: space-between;
    align-items: center;
  }

  .td_bottoni{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    //margin-left: 10px;
  }

  #btn_answer_yes, #btn_answer_no, #btn_answer_skip {
    border-radius: 15px;
    margin: 10px 10px 5px ;
    background: #282828;
    text-align: center;
    padding: 15px;
  }
  #btn_answer_yes, #btn_answer_no{
    font-size: 30px;
    font-weight: bold;
    width: 85px;
    height: 60px;
  }

  #btn_answer_no{

  }
  #btn_answer_skip{
     font-size: 20px;
   }
  #btn_answer_yes{
    color: #db0000;
  }
