ion-content{
  --ion-background-color: #000000;
  font-family: "Montserrat", sans-serif;

  h3{
    font-weight: bold;
  }

  .grid-questionario{
    color: white;

    .row-border{
      padding: 15px 0px 15px 0px ;
      border-bottom: 2px solid #282828;
    }

    ion-item{
      color: white;
      --background: #282828;

      ion-toggle{
        --background-checked: #db0000;
        --handle-background-checked: #db0000;
      }
    }
    .list-generi{
      background-color: #282828;
    }

  }

}

//css per l'uso del div con la domanda
  .table_questionario{
    width: 100%;
    height: 100%;
    tr{
      width: 100%;
    }
  }

  .div_questionario{
    margin: auto;
    width: 65%;
    height: 500px;
    background: #282828;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .div_imgLocandina{
    padding-top: 10px;
    justify-content: space-between;
    width: auto;
    height: auto;
    // border: 1px solid deeppink;
  }

  .div_domanda{
    position: absolute;
    top: 35%;
    //border: 5px solid #FFFF00;
    //justify-content: center;
    //padding: 10px;
    margin: auto 2% auto 2%;
    width: 61%;
    text-align: center;
    //height: 100%;
    color: white;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
  }

  #btn_start{
    border-radius: 15px;
    margin: 10px 10px 5px ;
    background: #db0000;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    padding: 15px;
  }


  .question-actions_actions{
    display: flex;
    margin: auto;
    width: 65%;
    justify-content: space-between;
    align-items: center;
  }

  .question-actions_film{
    display: flex;
    margin: auto;
    width: 65%;
    justify-content: center;
    align-items: center;
  }

  .td_bottoni{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    //margin-left: 10px;
  }

  #btn_answer_yes, #btn_answer_no, #btn_answer_skip, #btn_film_skip{
    border-radius: 15px;
    margin: 10px 10px 5px ;
    background: #282828;
    text-align: center;
    padding: 15px;
  }
  #btn_answer_yes, #btn_answer_no{
    font-size: 30px;
    font-weight: bold;
    width: 85px;
    height: 60px;
  }

  #btn_answer_no{
    color: #ffffff;
  }
  #btn_answer_skip, #btn_film_skip{
    color: #ffffff;
    font-size: 20px;
   }
  #btn_answer_yes{
    color: #db0000;
  }
