<ion-header class="head">

  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>Film gi&agrave; visti</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="3" size-sm="3">

      </ion-col>

      <ion-col size="6" size-sm="6">
        <div id="giavisti_non_presente" hidden>
          La raccolta è ancora vuota, cerca ed aggiungi qualche film
        </div>
        <ion-list show-delete="false" can-swipe="true" id="lista_filmGiaVisti" hidden>

        </ion-list>
      </ion-col>

      <ion-col size="3" size-sm="3">

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>



<ion-tab-bar slot="bottom" class="bottom_menu">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>
