<ion-header class="head">
  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>Scheda Informativa</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="3" size-sm="3">

      </ion-col>

      <ion-col size="6" size-sm="6">
        <ion-grid class="grid-info">
          <ion-row>
            <img id="locandina" class="locandina" >
          </ion-row>
          <ion-row>
            <button class="input_button" type="button" onclick='GetFullCredits();'>
              <ion-icon class="search_icon" name="search" ></ion-icon>
            </button>
            <div class="add-buttons">
              <ion-button fill="clear"  class="add-davedere">
                <ion-icon name="add"></ion-icon>
                <ion-icon name="time"></ion-icon>

              </ion-button>
              <ion-button fill="clear"  class="add-visti">
                <ion-icon name="add"></ion-icon>
                <ion-icon name="checkmark-done"></ion-icon>
              </ion-button>
            </div>
          </ion-row>
          <ion-row class="row-border">
            Titolo <span id="titolo"></span>
          </ion-row>
          <ion-row class="row-border">
            Anno <span id="anno"></span>
          </ion-row>
          <ion-row class="row-border">
            Regista
            <img id="ImmagineRegista" class="img_regista">
            <span id="Regista"></span>
          </ion-row>
          <ion-row class="row-border">
            Rating <span id="Valutazione"></span>
          </ion-row>
          <ion-row class="row-border">
            Descrizione <span id="Descrizione"></span>
          </ion-row>
          <ion-row class="row-border">
            Durata <span id="durata"></span> minuti
          </ion-row>
          <ion-row class="row-border">
            Trailer
            <iframe width="560" height="315"
                       id="trailer" frameborder="0"
                       allowfullscreen>
            </iframe>


          </ion-row>
          <ion-row class="row-border">
            Cast
            <div id="div_cast">
              <table id="table_cast" style="width:100%" class="table_cast">
                <!-- prima riga con intestazione dei campi
                  <tr>
                    <td>
                      Foto
                    </td>
                    <td>
                      Attore
                    </td>
                    <td>
                      Ruolo
                    </td>
                  </tr>
                -->
              </table>
            </div>
          </ion-row>

        </ion-grid>
      </ion-col>

      <ion-col size="3" size-sm="3">

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>



<ion-tab-bar slot="bottom" class="bottom_menu">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>
