<ion-header class="head">
  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>Scheda Informativa</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="3" size-sm="3">

      </ion-col>

      <ion-col size="6" size-sm="6">
        <img id="locandina" class="locandina" >
        <table class="table-info">
          <tr class="tr_button">
            <td>
              <button class="input_button" type="button" onclick='GetFullCredits();'>
                <ion-icon class="search_icon" name="search" ></ion-icon>
              </button>
            </td>
            <td>
              <div class="add-buttons">
                <ion-button fill="clear"  class="add-davedere">
                  <ion-icon name="add"></ion-icon>
                  <ion-icon name="time"></ion-icon>
                </ion-button>
                <ion-button fill="clear"  class="add-visti">
                  <ion-icon name="add"></ion-icon>
                  <ion-icon name="checkmark-done"></ion-icon>
                </ion-button>
              </div>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_Titolo">
              Titolo
            </td>
            <td class="td_info_text">
              <span id="titolo"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Anno
            </td>
            <td class="td_info_text">
              <span id="anno"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Regista
            </td>
            <td class="td_info_text">
              <span id="Regista"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Generi
            </td>
            <td class="td_info_text">
              <span id="Generi"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Rating
            </td>
            <td class="td_info_text">
              <span id="Valutazione"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Descrizione
            </td>
            <td class="td_info_text">
              <span id="Descrizione"></span>
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Durata
            </td>
            <td class="td_info_text">
              <span id="durata"></span> minuti
            </td>
          </tr>
          <tr class="row-border">
            <td class="td_info_head">
              Trailer
            </td>
            <td>
              <iframe class="iframe_trailer" id="trailer"
                      frameborder="0" allowfullscreen>
              </iframe>
            </td>
          </tr>
          <tr>
            <td class="td_info_head">
              Cast
            </td>
          </tr>
        </table>
        <div id="div_cast">
          <table id="table_cast" class="table_cast">
                <!--tabella popolata attraverso il file tests.js-->
          </table>
        </div>

      </ion-col>

      <ion-col size="3" size-sm="3">

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>



<ion-tab-bar slot="bottom" class="bottom_menu">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>
