ion-content{
  --ion-background-color: #000000;
  /*
      #img_attore2{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid #ffca22;
      }
   */
  .locandina{
    border: 2px solid #282828;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

 .add-buttons{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 0;

   ion-icon{
     color: white;
   }
   .add-davedere, .add-visti{
     margin-top: 15px;
     text-align: center;
     --background: #282828;
     border-radius: 5px;
   }
 }
  .grid-info{
    color: white;
    .row-border{
      padding: 15px 0px 15px 0px ;
      border-bottom: 2px solid #282828;
    }
  }

  .img_regista{
    width: 100px;
    height: auto;
  }
/*
  .div_circular_img_attore {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
*/

  .img_attore{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .table_cast{
    color: white;
    text-align: center;
    //border: 2px solid blue;

     tr{
       width: 100%;
     }

    td{
      padding-left: 25px;
      width: 100%;
     // border: 2px solid rebeccapurple;
    }
  }

}
