<ion-header class="head">

  <ion-toolbar class="new-background-color">

    <ion-grid>
      <ion-row>

        <ion-col size="1" size-sm="1">
          <img src="..\..\assets\image\logo1.png" />
        </ion-col>

        <ion-col size="10" size-sm="10">
          <ion-title>Scheda Informativa</ion-title>
        </ion-col>

        <ion-col size="1" size-sm="1">
          <ion-icon name="search" (click)="linkRicerca()"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="3" size-sm="3">

      </ion-col>

      <ion-col size="6" size-sm="6">
        <ion-grid class="grid-info">
          <ion-row>
            <img id="locandina" class="locandina-ricerca" >
          </ion-row>
          <ion-row>
            <button class="input_button" type="button" onclick='GetFullCredits();'>
              <ion-icon class="search_icon" name="search" ></ion-icon>
            </button>
            <div class="add-buttons">
              <ion-button fill="clear"  class="add-davedere">
                <ion-icon name="add"></ion-icon>
                <ion-icon name="time"></ion-icon>

              </ion-button>
              <ion-button fill="clear"  class="add-visti">
                <ion-icon name="add"></ion-icon>
                <ion-icon name="checkmark-done"></ion-icon>
              </ion-button>
            </div>
          </ion-row>
          <ion-row class="row-border">
            Titolo  <span id="titolo"></span>
          </ion-row>
          <ion-row class="row-border">
            Anno <span id="anno"></span>
          </ion-row>
          <ion-row class="row-border">
            Regista <span id="Regista"></span>
          </ion-row>
          <ion-row class="row-border">
            Rating <span id="Rating"></span>
          </ion-row>
          <ion-row class="row-border">
            Descrizione <span id="Descrizione"></span>
          </ion-row>
          <ion-row class="row-border">

            Cast <span id="NomeAttore0"></span><br>

            immagine <img  id="ImmagineAttore0">

            Ruolo <span id="Nomecharacter0"></span><br>

            Cast <span id="NomeAttore1"></span><br>

            immagine <img  id="ImmagineAttore1">

            Ruolo <span id="Nomecharacter1"></span><br>

            Cast <span id="NomeAttore2"></span><br>

            immagine <img  id="ImmagineAttore2">

            Ruolo <span id="Nomecharacter2"></span><br>

            Cast <span id="NomeAttore3"></span><br>

            immagine <img  id="ImmagineAttore3">

            Ruolo <span id="Nomecharacter3"></span><br>

            Cast <span id="NomeAttore4"></span><br>

            immagine <img  id="ImmagineAttore4">

            Ruolo <span id="Nomecharacter4"></span><br>

            Cast <span id="NomeAttore5"></span><br>

            immagine <img  id="ImmagineAttore5">

            Ruolo <span id="Nomecharacter5"></span><br>

            Cast <span id="NomeAttore6"></span><br>

            immagine <img  id="ImmagineAttore6">

            Ruolo <span id="Nomecharacter6"></span><br>

            Cast <span id="NomeAttore7"></span><br>

            immagine <img  id="ImmagineAttore7">

            Ruolo <span id="Nomecharacter7"></span><br>

            Cast <span id="NomeAttore8"></span><br>

            immagine <img  id="ImmagineAttore8">

            Ruolo <span id="Nomecharacter8"></span><br>

            Cast <span id="NomeAttore9"></span>

            immagine <img  id="ImmagineAttore9">

            Ruolo <span id="Nomecharacter9"></span><br>


          </ion-row>
          <ion-row class="row-border">
            Durata <span id="durata"></span> minuti
          </ion-row>
          <ion-row class="row-border">
            Trailer <span id="Trailer"></span>
          </ion-row>

        </ion-grid>
      </ion-col>

      <ion-col size="3" size-sm="3">

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>



<ion-tab-bar slot="bottom" class="bottom_menu">

  <ion-tab-button tab="home" (click)="linkHome()">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="giavisti" (click)="linkFilmvisti()">
    <ion-icon name="checkmark-done"></ion-icon>
    <ion-label>Film già visti</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="davedere"(click)="linkFilmdavedere()">
    <ion-icon name="time"></ion-icon>
    <ion-label>Film da vedere</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="area_utente" (click)="linkAreautente()">
    <ion-icon name="person"></ion-icon>
    <ion-label>Area Utente</ion-label>
  </ion-tab-button>

</ion-tab-bar>
