ion-content{
  --ion-background-color: #000000;

  .locandina{
    border: 2px solid #282828;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  .table-info{
    color: white;
    width: 100%;

    tr,td{
      padding: 10px;
    }
  }

/*
  .tr_button{
    width: 100%;
    border: 1px solid purple;
    justify-items: right;
    justify-content: right;
    float: right;
    text-align: right;
  }
*/
 .add-buttons{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 0;

   ion-icon{
     color: white;
   }

   .add-davedere, .add-visti{
     margin-right: 10px;
     margin-top: 15px;
     text-align: center;
     --background: #282828;
     border-radius: 5px;
   }
 }

  .row-border{
    padding: 15px 0px 15px 0px ;
    border-bottom: 2px solid #282828;
  }

  .td_info_head{
    font-weight: bold;
    margin-right: 10px;
  }

  .td_info_Titolo{
    margin-right: 10px;
    font-weight: bold;
    font-size: 30px;
  }

  #titolo{
    font-weight: bold;
    color: #db0000;
    font-size: 30px;
  }

  .img_regista{
    width: 100px;
    height: auto;
    padding-right: 50px;
  }

  #Regista{
    text-align: center;
  }

  #Generi{
    margin: 0;
  }
  .iframe_trailer{
    width: 100%;
    height: 350px;
  }

  .table_cast{
    width: 100%;
    color: white;
    text-align: center;
    //border: 2px solid blue;

     tr{
       width: 100%;
     }

    td{
      padding-left: 25px;
      width: 100%;
     // border: 2px solid rebeccapurple;
    }
  }

}
