<ion-header>

</ion-header>


<ion-content>
  <div class="background-pic">
    <div class="background-filter">

      <ion-card>

        <ion-card-header>
          <ion-card-title>Registrati a <br> MoviesToWatch</ion-card-title>
        </ion-card-header>

        <form [formGroup]="ValidationFormUSer" (submit)="registerUser(ValidationFormUSer.value)">
          <ion-card-content>

            <ion-item>
              <ion-input name="email" type="text" placeholder="Email" formControlName="email">
                <ion-icon name="mail-outline" ></ion-icon>
              </ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error_message" *ngIf="ValidationFormUSer.get('email').hasError(validation.type) && (ValidationFormUSer.get('email').dirty || ValidationFormUSer.get('email').touched)">
                {{validation.message}}
              </div>
            </ng-container>

            <ion-item>
              <ion-input name="password" type="password" placeholder="************" formControlName="password">
                <ion-icon name="lock-closed" ></ion-icon>
              </ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.password">
              <div class="error_message" *ngIf="ValidationFormUSer.get('password').hasError(validation.type) && (ValidationFormUSer.get('password').dirty || ValidationFormUSer.get('password').touched)">
                {{validation.message}}
              </div>
            </ng-container>

            <div class="sign-btn-wrap">
              <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" [disabled]="!ValidationFormUSer.valid">Registrati</ion-button>
            </div>

          </ion-card-content>
        </form>

      </ion-card>

    </div>
  </div>
</ion-content>
