ion-content{
  --ion-background-color: #000000;

  .td_searchbutton{
      width: 58px;
  }

  .searchbar{
    background: white;
    color: black;
    border-radius: 40px;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
  }

  .searchbar::placeholder{
    background: white;
    color: black;
  }

  .input_button{
    height: 55px;
    line-height: 55px;
    width: 55px;
    padding: 5px;
    margin: 8px 0;
    font-size: 2em ;
    font-weight: bold;
    border-radius: 50%;
    background-color: #db0000;
    color: white;
    text-align: center;
    cursor: pointer;
   }

  .input_button:hover {
    background: #D10101;
  }

  ion-item-sliding{
    //margin-top: 10px;
    --ion-background-color: #282828;
  }

  ion-label{
    color: #fff;
    font-size: 17px;
  }

  .locandina-ricerca{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }

  .table_infofilm{
      tr{
        border-bottom: 1px solid #282828;
      }
  }

  .td_titolo{
    padding-bottom: 15px;
  }
  .td_titolo_result{
    padding-bottom: 15px;
    color: #db0000;
    font-weight: bold;
    font-size: 30px;
  }

  .td_info{
     font-size: 17px;
     width: 30%;
   }

  .td_info_result{
      color: #db0000;
      font-weight: bold;
      font-size: 20px;
    }


}
