ion-content{
  --ion-background-color: #000000;

  .td_searchbutton{
      width: 58px;
  }

  .searchbar{
    background: white;
    color: black;
    border-radius: 40px;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
  }

  .searchbar::placeholder{
    background: white;
    color: black;
  }

  .input_button{
    height: 55px;
    line-height: 55px;
    width: 55px;
    padding: 5px;
    margin: 8px 0;
    font-size: 2em ;
    font-weight: bold;
    border-radius: 50%;
    background-color: #db0000;
    color: white;
    text-align: center;
    cursor: pointer;
   }

  .input_button:hover {
    background: #D10101;
  }

}
